@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");

.notate-note {
	display: block;
	position: absolute !important;
	height: 24px;
	width: 24px;
	border-radius: 12px;
	background-color: #d9534f;
	z-index: 10000;
}

.notate-note.ui-draggable-dragging {
	opacity: 0.5;
}

.qtip {
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;*/
	font-family: "Lora", Georgia, "Times New Roman", Times, serif !important;
  	font-size: 17px;
  	line-height: 1.5em;
}

.qtip .qtip-title {
	text-align: left;
	font-family: "Lora", Georgia, "Times New Roman", Times, serif !important;
}

.notate-notebox-content {
	font-family: "Lora", Georgia, "Times New Roman", Times, serif !important;
	min-width: 150px; 
	min-height: 40px;
	font-size: 15px;
	font-weight: 400;
}

.notate-notebox-content:focus {
  outline-color: transparent;
  outline-style: none;
}

.notate-notebox-footer {
	margin-top: 10px;
	font-size: 16px;
}

.notate-notebox-footer button {
	font-family: "Lora", Georgia, "Times New Roman", Times, serif !important;
	font-size: 14px;
	font-weight: normal;
	background-color: #333;
	border: solid 1px #222;
	border-radius: 4px;
	color: #fff;
	outline-color: transparent;
	outline-style: none;
	line-height: 16px;
}

.notate-notebox-footer button:active {
	color: #999;
}

.noticon-trash,.noticon-comment {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAQCAYAAABQrvyxAAABhElEQVRIS9WWi03DMBCG8QTABKQTFDYIEyA26Aa0E1AmACYgGwAT0E5A2CAj0AnC/1Vn5FTNQ5ZLgyWrD/su/3d3Psed/PPhQv11XWf6/ah5Fvy/ds4tx8q5C/AkoUDwyQDkVXMiiOovICyIUz3r0rSgZ6XJ8wlmQ4eTAdGtTdzcNpeB2JkZ44SBE/89GZMJv5dDntc1CO6DNHyzyQNg5CnbjD3IMjWAxBPtD82wdLsgKi3eSke5LSE5QHynMNuzSn0eIsSHYOcNAK1ktkoJzSR2bsKJfkGWDgDwJr83PWXTtrzYBchtp89ILgDOxzUZOhCAP38xDM0SkodjAFDPFzHqZbMZQwboKneRAO9jAODcceZOIyAmQwGu5JxIJT/EiNYxo0ngfyjEl/bSZI7fRn3UrZ1+DsjCMw3l9yKzCNDKMKb7tI1CCwsZsjf5sCy8BI6JMrdtZSVW7rtAfQnlUPWoquSAVCcfey4zXhX69Gx1NF7mkisb6FAAZDXTJMuFL48h5j/e3dMOw1lhXQAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
}
.noticon-trash {
	background-position: 0 0;
}
.noticon-comment {
	background-position: -32px 0;
}
